<div class="bg-dark text-white">

    <h2 class="p-5">Completing your order</h2>

    <div class="d-flex justify-content-center" style="padding-bottom: 15%;">

        <form>
            <!-- <form class="g-3 needs-validation" novalidate> -->
            <!-- First Name -->
            <label for="firstName" class="form-label">First Name</label>
            <input id="fistName" name="firstName" class="form-control" type="text"
                [(ngModel)]="orderConfirmationModel.firstName" [ngModelOptions]="{standalone : true}" required>
            <div *ngIf="validationErrors?.firstName" class="invalid-feedback d-block ps-2">
                {{validationErrors.firstName}}
            </div>

            <!-- Last Name  -->
            <label for="lastName" class="form-label">Last Name</label>
            <input id="lastName" name="lastName" class="form-control" type="text"
                [(ngModel)]="orderConfirmationModel.lastName" [ngModelOptions]="{standalone : true}" required>
            <div *ngIf="validationErrors?.lastName" class="invalid-feedback d-block ps-2">
                {{validationErrors.lastName}}
            </div>

            <!-- Email  -->
            <label for="email" class="form-label">Email</label>
            <input id="email" name="email" class="form-control" type="text" [(ngModel)]="orderConfirmationModel.email"
                [ngModelOptions]="{standalone : true}" required>
            <div *ngIf="validationErrors?.email" class="invalid-feedback d-block ps-2">
                {{validationErrors.email}}
            </div>
            <!-- Phone  -->
            <label for="phone" class="form-label">Phone</label>
            <input id="phone" name="phone" class="form-control" type="text" [(ngModel)]="orderConfirmationModel.phone"
                [ngModelOptions]="{standalone : true}" required>
            <div *ngIf="validationErrors?.phone" class="invalid-feedback d-block ps-2">
                {{validationErrors.phone}}
            </div>

            <!-- Payment Type  -->
            <label for="paymentType" class="form-label">Payment Type</label>
            <select id="paymentType" name="paymentType" class="form-select"
                [(ngModel)]="orderConfirmationModel.paymentType" [ngModelOptions]="{standalone : true}"
                [ngModelOptions]="{standalone : true}" required>
                <option value="Card">Card</option>
                <option value="Cash">Cash</option>
            </select>
            <div *ngIf="validationErrors?.paymentType" class="invalid-feedback d-block ps-2">
                {{validationErrors.paymentType}}
            </div>


            <!-- Comments (optional)  -->
            <label for="comments" class="form-label">Comments (optional)</label>
            <textarea id="comments" name="comments" class="form-control" type="text" maxlength="600" rows="5"
                [(ngModel)]="orderConfirmationModel.comments" [ngModelOptions]="{standalone : true}"></textarea>
            <div *ngIf="validationErrors?.comments" class="invalid-feedback d-block ps-2">
                {{validationErrors.comments}}
            </div>

            <!-- Order Button  -->
            <div class="pt-4 d-flex justify-content-end">
                <button type="submit" (click)="placeOrder()" class="btn btn-primary">Order</button>
            </div>
        </form>

    </div>
</div>