<div style="margin-left: 10%; margin-right: 10%;">
    <!-- Header -->
    <header>
        <app-navbar></app-navbar>
    </header>

    <!-- Router Outlet -->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer>
        <app-footer></app-footer>
    </footer>
</div>