<div class="bg-dark">

    <!-- image -->
    <div id="imageContainer" class="pt-5" style="text-align: center;">
        <div *ngIf="model.image;" class="container">
            <img src="{{model.image.imageDataUrl}}" class="rounded mx-auto d-block" style="max-width: 70%;"
                alt="banner">
            <div *ngIf="isManagerOrAdmin()" class="middle">
                <button (click)="onChangeImage()" class="text">Change Image</button>
            </div>
        </div>
        <div class="bg-light" style="margin: 50px;">
            <div *ngIf="isLoaded && model.image == null" style="border: 5px solid red;">
                <h1 style="margin-top: 20px;">Image for this game is not set</h1>
                <app-image-upload *ngIf="isManagerOrAdmin()" [gameId]="gameId"></app-image-upload>
            </div>
        </div>
        <div *ngIf="isManagerOrAdmin()" id="changeImageContainer" style="visibility: hidden;">
            <app-image-upload [gameId]="gameId"></app-image-upload>
        </div>
    </div>



    <div style="margin: 50px;" class="text-white">
        <!-- name -->
        <div id="gameName">
            <h1>{{model.name}}</h1>
        </div>

        <!-- price in usd -->
        <!-- buy button -->
        <div style="justify-content: space-between; align-items: flex-end ;display: flex;">
            <div style="display: inline;">${{model.price}}</div>
            <div style="display: inline; margin-right: 50px;">
                <button class="btn btn-lg btn-primary" (click)="onBuy()">Buy</button>
            </div>
        </div>

        <!-- line  -->
        <hr>

        <!-- genres flatten -->
        <div id="genresContainer" class="text-white mt-2" style="margin-bottom: 20px;">
            <div *ngFor="let genre of model.genres;" class="badge bg-primary text-wrap"
                style="width: 6rem; margin-right: 1%;">
                {{genre.name}}
            </div>
        </div>

        <!-- description  -->
        <div id="descriptionContrainer" class="text-white mt-5">
            <strong>{{model.description}}</strong>
        </div>

        <!-- comments  -->
        <div id="commentsContainer" class="mt-5">

            <a (click)="activateAddCommentSection()"><strong><a (click)="scroll('addCommentTextArea')">Add Comment</a></strong></a><br>

            <app-game-comment *ngFor="let comment of model.comments;" [comment]="comment" (reloadRequired)="reloadComments()"></app-game-comment>

            <!-- add comment section  -->
            <div *ngIf="addCommentSectionIsEnabled">
                <textarea id="addCommentTextArea" type="text" maxlength="600" rows="2" style="width : 100%;"
                    [(ngModel)]='addCommentTextAreaValue'></textarea>
                <span style="float: right;">
                    <a type="button" class="text-white" style="text-decoration: none;" (click)="addComment()">Save</a>&nbsp;
                    <a type="button" class="text-white" style="text-decoration: none;" (click)="deactivateAddCommentSection()">Cancel</a>
                </span>
            </div>
        </div>
    </div>

    <br>
</div>

<script>
    function onClickAddComment() {
        document.getElementById('addCommentTextArea').scrollIntoView();
        // will scroll to 4th h3 element
    }
</script>