.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    width: 50%;
  }

  .space-between {
    text-decoration: none;
    /* width: 98px; */
    /* height: 40px; */
    display: inline;
    flex-flow: row column;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: lightgray; */
  }

  .container {
    position: relative;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }