<div class="align-middle col">

    <div class="position-relative text-white" style="width: 100%;">


        <img *ngIf="game != null && game.image != null && game.image.imageDataUrl != null" type="button"
            src="{{game.image.imageDataUrl}}" class="rounded mx-auto d-block show image" alt="banner"
            routerLink="game/individual/{{game.id}}" style="width: 100%; height: auto;">

        <img *ngIf="game != null && game.image == null" type="button" src="/assets/gamestore.ico"
            class="rounded mx-auto d-block show image" alt="banner" routerLink="game/individual/{{game.id}}"
            style="width: 50%; height: auto;">

        <div class="position-absolute bottom-0 d-flex justify-content-between show"
            routerLink="game/individual/{{game.id}}"
            style="background-color: rgb(0,0,0,0.5); height: 45%; width : 100%;">

            <div class="mb-auto mt-auto" style="margin-left: 2%;">
                <h3>${{game.price}}</h3>

                <div>
                    <span *ngFor="let genre of game.genres; let last = last">
                        {{genre.name}}&nbsp;<span *ngIf="!last">/</span>
                    </span>
                </div>

                <div type="button" routerLink="game/individual/{{game.id}}">
                    {{game.name}}
                </div>
            </div>

            <div>
                <button type="button" class="btn"
                    style="margin-right: 20px; margin-top : 30px; background-color: green; color: white;"
                    (click)="onBuy()">BUY</button>
            </div>
        </div>

        <div *ngIf="isManagerOrAdmin()" class="middle">
            <p>
                <button type="button" class="btn" style="background-color: unset; color: white;"
                    routerLink="game/edit/{{game.id}}"><i class="bi bi-pencil-fill">&nbsp;Edit Game</i></button>
            </p>
            <p>
                <button type="button" class="btn" style="background-color: unset; color: white;"
                    (click)="onGameDelete()"><i class="bi bi-trash">&nbsp;Delete Game</i></button>
            </p>
        </div>
    </div>
</div>







<!-- <div class="col">
    <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
        </svg>


        <div class="card-body">
            <p class="card-text">{{model.name}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="game/individual/{{model.id}}">View</button>
                    <button *ngIf="isManagerOrAdmin()" type="button" class="btn btn-sm btn-outline-secondary" routerLink="game/edit/{{model.id}}">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
            </div>
        </div>
    </div>
</div> -->