<div>
    <div id="{{comment.id}}" style="margin: 20px;">
        <div>
            <span><i class="bi bi-person-fill"></i>&nbsp;{{comment.commentAuthor.userName}}</span>
            <span style="opacity: 0.5;">&nbsp;{{comment.timeSinceAdded}}</span>
        </div>
        <div *ngIf="comment.deletedAt != null">
            <div class="text-area" style="opacity: 0.5;">This comment is deleted.</div>
            <a type="button"
                *ngIf="!isContentEditable && (isManagerOrAdmin() || getUserName() == comment.commentAuthor.userName)"
                (click)="recoverComment()"><strong>Recover&nbsp;</strong></a>
        </div>

        <div *ngIf="comment.deletedAt == null">
            <div *ngIf="isContentEditable" #body class="text-area" style="border: 1px solid white;"
                [contentEditable]="isContentEditable" (input)="onBodyChange(body.innerText)"
                onkeypress="return (this.innerText.length < 600)" spellcheck="false">{{comment.body}}</div>

            <div *ngIf="!isContentEditable" #body class="text-area" [contentEditable]="isContentEditable"
                (input)="onBodyChange(body.innerText)" onkeypress="return (this.innerText.length < 600)"
                spellcheck="false">{{comment.body}}</div>


            <div *ngIf="!isContentEditable && (isManagerOrAdmin() || getUserName() == comment.commentAuthor.userName)">
                <a type="button" *ngIf="comment.deletedAt == null"
                    (click)="makeContentEditable()"><strong>Edit&nbsp;</strong></a>
                <a type="button" *ngIf="comment.deletedAt == null"
                    (click)="deleteComment()"><strong>Delete&nbsp;</strong></a>
            </div>

            <span *ngIf="isContentEditable">
                <a type="button" (click)="saveCommentEdit()">Save</a>
                &nbsp;
                <a type="button" (click)="cancelCommentEdit()">Cancel</a>
            </span>
        </div>

        <a type="button" (click)="onReplyTo()"><strong>Reply</strong></a><br>
    </div>

    <div *ngIf="comment.childComments" style="padding-left: 3%;">
        <div *ngFor="let childComment of comment.childComments;">
            <app-game-comment [comment]="childComment" (reloadRequired)="onReloadRequired()"
                (notifyParentCommentOnReply)="onReplyTo()"></app-game-comment>
        </div>
    </div>

    <!-- Comment Reply Section  -->
    <div *ngIf="replyBodyIsEnabled">
        <textarea id="addCommentTextArea" type="text" maxlength="600" rows="2" style="width : 100%;"
            [(ngModel)]='replyBody'></textarea>
        <span style="float: right;">
            <a type="button" class="text-white" style="text-decoration: none;" (click)="saveReply()">Save</a>&nbsp;
            <a type="button" class="text-white" style="text-decoration: none;" (click)="cancelReply()">Cancel</a>
        </span>
    </div>
</div>