<div class="d-flex justify-content-between align-middle pt-3 pb-3 text-white"
    style="background-color: black; padding-left: 5%; padding-right: 5%;">
    <div>
        <a class="navbar-brand" routerLink="/">
            <img src="/assets/gamestore.ico" style="max-width: 30px; max-height: 30px;" alt="icon">
            <span style="color: white;">&nbsp;Game store</span>
        </a>
    </div>
    <div style="opacity: 0.7;">
        Copyrights - 2022
    </div>
</div>