<div class="modal-header">
  <h4 class="modal-title" id="modal-primary-title">Sign-in</h4>
  <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal" (click)="closeActiveModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body centered">
  <div class="container">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <!-- <h2 class="form-signin-heading">Login</h2> -->
      <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
      <br />
      <label for="UserName" class="sr-only">Email address</label>
      <input type="email" id="username" name="username" [(ngModel)]="credentials.userName" class="form-control"
        placeholder="User Name">
      <div *ngIf="validationErrors?.userName" class="invalid-feedback d-block ps-2">
        {{validationErrors.userName}}
      </div>
      <br />
      <label for="Password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="credentials.password" class="form-control"
        placeholder="Password">
      <div *ngIf="validationErrors?.password" class="invalid-feedback d-block ps-2">
        {{validationErrors.password}}
      </div>

      <label style="margin-top: 20px; margin-left: 10px;">
        <input type="checkbox" class="form-check-input" [(ngModel)]="rememberMe" name="rememberMe" />
        &nbsp;remember me
      </label><br>

      <div style="justify-content: space-between; align-items: flex-end ; display: flex; margin-top: 20px;">
        <div style="display: inline; margin-bottom: 10px;">
          <span>Don't have an account? Sign-up</span>&nbsp;<a class="router-link-exact-active router-link-active"
            (click)="redirectToSignUp()">here</a>
        </div>
        <div style="display: inline;">
          <button class="btn btn-lg btn-primary" type="submit" style="float:right;"
            [disabled]="!loginForm.valid">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>