<nav class="navbar navbar-expand-md navbar-light" style="height: 70px;">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" style="margin-left: 1%">
        
        <a class="navbar-brand" routerLink="/" style="margin-left: 5%;">
            <img src="/assets/gamestore.ico" style="max-width: 30px; max-height: 30px;" alt="icon">
            <span style="color: white;">&nbsp;Game Store</span>
        </a>
        
        <ul class="navbar-nav mr-auto" style="margin-left: 10%;">
            <li class="nav-item active"><a class="nav-link" routerLink="/">Games</a></li>
            <li class="nav-item active"><a class="nav-link" routerLink="/community">Community</a></li>
            <li class="nav-item active"><a class="nav-link" routerLink="/about">About</a></li>
            <li class="nav-item active"><a class="nav-link" routerLink="/support">Support</a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ms-auto" style="margin-right: 10%; ">
            <li *ngIf="isUserAuthenticated()" class="nav-item nav-link" style="color: white;"><a style="text-decoration: none;" class="text-white" routerLink="/profile">{{userName}}</a></li>
            <li *ngIf="isUserAuthenticated()" type="button" class="nav-item nav-link" style="color: white;" routerLink="/cart"><i class="bi bi-cart2"></i></li>
            <li *ngIf="!isUserAuthenticated()" type="button" class="nav-item nav-link" style="color: white;"
                (click)="openLoginModal()">Sign in
            </li>
            <li *ngIf="isUserAuthenticated()" type="button" class="nav-item nav-link" style="color: white;"
                (click)="logOut()"><i class="bi bi-box-arrow-in-right"></i></li>
        </ul>
    </div>
</nav>