<div style="margin: 20px;">
    <input type="file" accept="image/*" style="color: white;" (change)="onFileSelected($event)">
    <button class="btn btn-primary" (click)="onUpload()">Upload</button>
</div>