<div>
    <div>
        <input type="checkbox" class="form-check-input" (ngModelChange)="notifyParentOnChange()"
            [(ngModel)]="genre.isChecked" /><span>&nbsp;{{genre.name}}</span>
    </div>
    <div *ngIf="genre.childGenres" class="ml-4">
        <div *ngFor="let childGenre of genre.childGenres" style="text-indent: 30px">
            <app-genre-checkbox [genre]="childGenre" (notifyParent)="notifyParentOnChange()"></app-genre-checkbox>
        </div>
    </div>
</div>