<span *ngIf="genre && genre.isChecked;" class="pe-2">
    <div class="badge bg-primary">
        {{genre.name}} &nbsp;<a (click)="onXClick()"><i class="bi bi-x-lg"></i></a>
    </div>
</span>

<span *ngIf="genre && genre.childGenres">
    <app-filter-genre *ngFor="let childGenre of genre.childGenres" [genre]="childGenre" (notifyParent)="onXClick()">
    </app-filter-genre>
</span>