<div class="bg-dark"
    style="min-height: 100%; padding-bottom: 100%; padding-left: 5%; padding-right: 5%; padding-top: 5%;">
    <!-- Orders -->
    <div>
        <div class="text-white">
            <h1>My Orders</h1>
        </div>

        <div *ngIf="ordersAreLoaded && orders?.length == 0" style="color: white;">
            No orders found!
        </div>


        <div *ngIf="ordersAreLoaded && orders?.length > 0">
            <div *ngFor="let order of orders; let orderNumber = index;" style="padding-top: 2%;">
                <div class="text-white" style="border: 2px solid white;">
                    <p style="padding-left  : 3%; padding-right: 3%; padding-top: 3%;">
                        <strong>Order #{{orderNumber+1}}</strong> / Payment Type: {{order.paymentType}} / Total :
                        ${{order.total}} / OrderedAt : {{order.orderedAt}}
                    </p>
    
                    <div style="padding: 3%;">
                        <strong>Order Details</strong>
                        <table class="table text-white" style="width: 70%;">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">GameName</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let od of order.orderDetails; let orderDetailNumber = index">
                                    <th scope="row">{{orderDetailNumber + 1}}</th>
                                    <td>{{od.gameName}}</td>
                                    <td>{{od.quantity}}</td>
                                    <td>${{od.price}}</td>
                                    <td>${{od.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                </div>
            </div>
        </div>


    </div>



    <!-- Admin Panel -->
    <div *ngIf="isAdmin() && usersListIsLoaded" style="padding-top: 5%;">

        <div style="color: red;">
            <h1>Admin Panel</h1>
        </div>

        <div class="d-flex justify-content-start" style="padding-top: 2%;">
            <table class="table text-white" style="width : 50%;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">UserName</th>
                        <th scope="col">IsManager</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{user.userName}}</td>
                        <td>{{user.isManager}}</td>
                        <td type="button" style="color : blue;" *ngIf="user.isManager" (click)="removeFromRoleManager(user.userName)">RemoveFromRoleManager</td>
                        <td type="button" style="color:blue;" *ngIf="!user.isManager" (click)="addToRoleManager(user.userName)">AddToRoleManager</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>