<div class="album py-5 bg-dark" style="color: white; padding-bottom: 100%;">
  <div class="container">

    <div class="d-flex justify-content-between" style="padding-right : 7.5%">

      <div class="d-flex justify-content-between align-middle">
        <div class="dropdown">
          <button class="dropbtn"><i class="bi bi-plus-lg">&nbsp;Add genre</i></button>&nbsp;&nbsp;
          <div class="dropdown-content rounded">
            <app-genre-checkbox *ngFor="let genre of genres" [genre]="genre" (valueChanged)="onGenreCheckBoxChanged()">
            </app-genre-checkbox>
          </div>
        </div>

        <div id="selectedGenresContainer">
          <app-filter-genre *ngFor="let genre of genres;" [genre]="genre" (removed)="onXClick()"></app-filter-genre>
        </div>

      </div>

      <div class="search-bar-container">
        <input type="search" class="search-bar-input" [placeholder]="" [(ngModel)]="containsString"
          (ngModelChange)="onSearchBarChanged()">
        <i class="bi bi-search search-bar-image"></i>
      </div>


    </div>

    <div *ngIf="isManagerOrAdmin()" class="d-flex justify-content-end mt-5 mb-2">
      <button class="btn text-white" style="background-color: green; width: 10%;" routerLink="/game/add">Add
        Game</button>
    </div>

    <div id="contentSection" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-1">

      <app-game-card *ngFor="let game of games" [game]="game" (delete)="onGameDelete($event)"></app-game-card>

      <span *ngIf="(games == null || games.length == 0) && isLoaded">
        <h1>No games found!</h1>
      </span>
    </div>
  </div>



  <!-- Pagination  -->
  <nav *ngIf="isLoaded && games != null && games.length > 0 && numberOfPages > 1" class="pt-3">
    <ul class="pagination justify-content-center" style="background-color: unset;">
      <li *ngIf="currentPageNumber > 1" class="page-item">
        <a type="button" class="page-link" (click)="moveToPage(currentPageNumber - 1)">Previous</a>
      </li>
      <li *ngIf="currentPageNumber <= 1" class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>

      <ng-container *ngFor="let item of [].constructor(numberOfPages); let i = index;">
        <li *ngIf="i + 1 != currentPageNumber" class="page-item">
          <a type="button" class="page-link" (click)="moveToPage(i + 1)">{{i + 1}}</a>
        </li>
        <li *ngIf="i + 1 == currentPageNumber" class="page-item active">
          <a class="page-link">{{i + 1}}</a>
        </li>
      </ng-container>

      <li *ngIf="currentPageNumber < numberOfPages" class="page-item">
        <a type="button" class="page-link" (click)="moveToPage(currentPageNumber + 1)">Next</a>
      </li>
      <li *ngIf="currentPageNumber >= numberOfPages" class="page-item disabled">
        <a type="button" class="page-link">Next</a>
      </li>
    </ul>
  </nav>

</div>