/* Dropdown Button */
.dropbtn {
  border: none;
  color: white;
  background-color: unset;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  opacity: 0.9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
  padding: 5%;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 15%;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd;} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
/* 

.pagination {
  border: 50px;
  border-radius: 50px 50px;
  color: white;
}

.pagination-button {
  background: none;
  border: none;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0.5;
} */

.btn {
  color: white;
}

.search-bar-container {
  width: 10%;
  height: 10%;
  /* margin-right: 6.5%; */
  display: inline-block;
  position: relative;
  margin-left: auto;
  padding-right: 7.5%;
  background-color: unset;
}

.search-bar-input {
  position: absolute;
  padding-left: 25%;
  color: white;
  background-color: rgb(52, 58, 64);
}

.search-bar-image {
  position: absolute;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
}