<!-- inline and thn margin -->
<div class="border">
    <div class="d-flex justify-content-between" style="margin: 50px;">
        <div class="d-flex" style="width: 40%;">
            
            <!-- image -->
            <div class="mt-auto mb-auto" style="display: inline; align-items: center;">
                <a type="button" class="show" (click)="redirectToGameIndividualPage()">
                    <img src="{{item.game.image.imageDataUrl}}" class="rounded float-start" style="max-width: 300px;">
                </a>
            </div>

            <!-- name, price  -->
            <div class="mt-auto mb-auto" style="display: inline; width: 30%; margin-left: 15%;">
                <div style="display: inline;">{{item.game.name}}</div>
                <div style="margin: 10px;"></div>
                <div>${{item.game.price}}</div>
            </div>
        </div>

        <div class="d-flex justify-content-between" style="width: 50%;">

            <!-- plusMinusButon  -->
            <div class="mt-auto mb-auto" style="display: inline; margin-right: 5%;">
                <div class="plus-minus-button mt-auto mb-auto"
                    style="justify-content: space-between; align-items: center; display: flex; height: 70px; width:  200px;">
                    <div style="display: inline; margin-left: 20%; padding : 10px">
                        <a type="button" (click)="onMinus()">-</a>
                    </div>
                    <div style="display: inline;">
                        {{item.quantity}}
                    </div>
                    <div style="display: inline; margin-right: 20%; padding: 10px;">
                        <a type="button" (click)="onPlus()">+</a>
                    </div>
                </div>
            </div>

            <!-- Total  -->
            <div class="mt-auto mb-auto">
                <div>Total:</div>
                <div style="margin: 10px;"></div>
                <div>${{(item.game.price * item.quantity).toFixed(2)}}</div>
            </div>

            <!-- Remove Button  -->
            <a type="button" class="mt-auto mb-auto" style="padding: 10px;" (click)="onRemoveFromCart($event)"><i class="bi bi-x-lg"
                    style="height: 20px; width : 20px"></i></a>
        </div>
    </div>
</div>

<br>