<div class="bg-dark" style="padding-left: 200px; padding-right: 200px;"><br>

    <h1 class="text-white">Sign Up</h1><br>

    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="needs-validation">
        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="form-floating">
                    <input id="firstName" name="firstName" type="text" class="form-control" placeholder=""
                        [(ngModel)]="credentials.firstName">
                    <label for="firstName">First Name</label>
                </div>
                <div *ngIf="validationErrors?.firstName" class="invalid-feedback d-block ps-2">
                    {{validationErrors.firstName}}
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input id="lastName" name="lastName" type="text" class="form-control" placeholder=""
                        [(ngModel)]="credentials.lastName">
                    <label for="lastName">Last Name</label>
                </div>
                <div *ngIf="validationErrors?.lastName" class="invalid-feedback d-block ps-2">
                    {{validationErrors.lastName}}
                </div>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input id="email" name="email" type="email" style="text-transform: lowercase;" class="form-control"
                placeholder="" [(ngModel)]="credentials.email">
            <label for="email">Email address</label>
            <div *ngIf="validationErrors?.email" class="invalid-feedback d-block ps-2">
                {{validationErrors.email}}
            </div>
        </div>


        <div class="form-floating mb-3">
            <input id="userName" name="userName" type="text" class="form-control" placeholder=""
                [(ngModel)]="credentials.userName">
            <label for="userName">UserName</label>
            <div *ngIf="validationErrors?.userName" class="invalid-feedback d-block ps-2">
                {{validationErrors.userName}}
            </div>
        </div>

        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input id="password" name="password" type="password" class="form-control" placeholder=""
                        [(ngModel)]="credentials.password">
                    <label for="password">Password</label>
                    <div *ngIf="validationErrors?.password" class="invalid-feedback d-block ps-2">
                        {{validationErrors.password}}
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input id="confirmPassword" name="confirmPassword" type="password" class="form-control"
                        placeholder="" [(ngModel)]="credentials.confirmPassword">
                    <label for="confirmPassword">Re-Enter Password</label>
                    <div *ngIf="validationErrors?.confirmPassword" class="invalid-feedback d-block ps-2">
                        {{validationErrors.confirmPassword}}
                    </div>
                </div>
            </div>
        </div>

        <div style="justify-content: space-between; align-items: flex-end ; display: flex;">
            <div style="margin-top: 5px; color: white;">
                <input id="acceptTerms" name="acceptTerms" type="checkbox" [(ngModel)]="credentials.acceptTerms"> I
                agree to the
                <a target="_blank" style="text-decoration: none;" href="~/terms.html">Terms & Coditions</a><br>
                <div *ngIf="validationErrors?.acceptTerms" class="invalid-feedback d-block ps-2">
                    {{validationErrors.acceptTerms}}
                </div>
            </div>
        

            <div>
                <button class="btn btn-lg btn-primary" type="submit" style="float:right;"
                    [disabled]="!registerForm.valid">Register</button>
            </div>
        </div>

        <div style="text-align: center; margin-top: 30px; color: white;">
            <span>Already have an ccount an account? Sign-in</span>&nbsp;<a
                class="router-link-exact-active router-link-active" (click)="openLoginModal()">here</a>
        </div>

    </form>

    <br>
</div>