.text-lightblue {
    color: lightblue;
}

.form-control {
    color: white;
    opacity: 1;
    background-color: unset;
     /* rgb(52, 58, 64) */
}

.form-label {
    color: lightblue;
    opacity: 1;
}