<div class="bg-dark"><br>

    <h1 class="text-white ms-5">EditGame</h1><br>

    <form #editGameForm="ngForm" (ngSubmit)="editGame(editGameForm)">

        <div class="rounded ps-5 pe-5">
            <!-- Name  -->
            <div class="form-floating p-2">
                <input id="Name" name="Name" type="text" class="form-control bg-dark" placeholder=""
                    [(ngModel)]="model.name">
                <label for="Name" class="form-label">Name</label>
                <div *ngIf="validationErrors?.name" class="invalid-feedback d-block ps-2">
                    {{validationErrors.name}}
                </div>
            </div>

            <!-- Description -->
            <div class="form-floating p-2">
                <input id="Description" name="Description" type="text" class="form-control bg-dark" placeholder=""
                    [(ngModel)]="model.description">
                <label for="Description" class="form-label">Description</label>
                <div *ngIf="validationErrors?.description" class="invalid-feedback d-block ps-2">
                    {{validationErrors.description}}
                </div>
            </div>

            <!-- Price  -->
            <div class="form-floating p-2">
                <input id="Price" name="Price" type="text" class="form-control bg-dark" placeholder=""
                    [(ngModel)]="model.price">
                <label for="Price" class="form-label">Price</label>
                <div *ngIf="validationErrors?.price" class="invalid-feedback d-block ps-2">
                    {{validationErrors.price}}
                </div>
            </div>
        </div>

        <!-- Genres group  -->
        <div id="genresCheckBoxGroup" class="text-white pt-5 ps-5 pe-5 rounded">
            <p style="color: lightblue;">Genres</p>
            <div style="border:1px solid white" class="p-5">
                <app-genre-checkbox *ngFor="let genre of model.genres;" [genre]="genre"></app-genre-checkbox>
            </div>
        </div>

        <div class="d-flex justify-content-end p-5">
            <button class="btn btn-lg btn-primary" type="submit" 
                [disabled]="!editGameForm.valid">Edit</button>
        </div>

    </form>

</div>