<!-- <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{confirmationMessage}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{message}}</p>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div> -->


<div class="modal-header">
    <h4 class="modal-title">{{confirmationBoxTitle}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close(false)"></button>
</div>
<div class="modal-body">
    <p>{{confirmationMessage}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close(true)">Yes</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close(false)">Cancel</button>
</div>