<div class="bg-dark p-5" style="color: white;">

    <div *ngIf="isLoaded && isEmpty == false">
        <div class="d-flex justify-content-between" style="margin-left: 3%; margin-right : 3%;">
            <!-- Your Cart -->
            <h2>My cart</h2>
            <!-- Total, Proceed  -->
            <div class="d-flex justify-content-between align-middle">
                <div>
                    <h2>Total:&nbsp;{{(total).toFixed(2)}}&nbsp;&nbsp;&nbsp;</h2>
                </div>
                <div>
                    <button type="button" class="btn" style="background-color: green; color: white;"
                        [routerLink]="['/order-confirmation']">Proceed</button>
                </div>
            </div>
        </div>

        <br>

        <!-- Cart Items -->
        <div id="cartItemsContainer" style="padding-left : 3%; padding-right: 3%;">
            <app-cart-item *ngFor="let item of cart.items; let i = index;" [item]="item" (valueChanged)="valueChanged()"
                (delete)="deleteItem($event)">
            </app-cart-item>
        </div>

        <div class="d-flex justify-content-end" style="padding-right: 3%;">
            <a routerLink="/" class="text-white" style="text-decoration: none;">
                <h2 >Continue Shopping</h2>
            </a>
        </div>

    </div>

    <!-- Your Cart Is Empty -->
    <div *ngIf="isEmpty && isLoaded" class="d-flex justify-content-between">
        <h1>YOUR CART IS EMPTY</h1>
        <a routerLink="/" class="text-white" style="text-decoration: none;">
            <h2>Continue Shopping</h2>
        </a>
    </div>
</div>